.firstSection {
    align-items: center;
    justify-content: center;

    .logo {
        padding: 0;
    }

    .buttonToolbar {
        justify-content: space-evenly !important;
        margin: 2rem;
        width: 100%;
    }

    .homeButtons {
        border-radius: 1rem;
        font-weight: 700;
        font-size: 1.1rem;
        width: 40%;
        padding: {
            top: 0.75rem;
            bottom: 0.75rem;
            left: 0.5rem;
            right: 0.5rem;
        }
    }

    .sectionLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// Uncomment to add CSS
// .secondSection {
// }
