.navbar {
    background: rgb(2, 117, 216);

    .navLink {
        color: #fff !important;
        &:hover {
            color: rgb(255, 255, 255, 0.7) !important;
        }
    }
}

::-webkit-scrollbar {
    background: none;
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-thumb {
    background: rgb(2, 117, 216);
}
