@use '../colors.module.scss';

.navbar {
    background: colors.$blue;

    .navLink {
        color: #fff !important;
        &:hover {
            color: rgb(255, 255, 255, 0.7) !important;
        }
    }
}

::-webkit-scrollbar {
    background: none;
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-thumb {
    background: colors.$blue;
}
