@use "../colors.module.scss";

.title {
    color: colors.$blue;
}

.cards {
    border: none;

    .cardTitle {
        font-size: 1.5rem;
        font-weight: bold;
        color: colors.$blue;
        margin-bottom: 1rem;
    }

    .cardText {
        height: 13rem;

        @media (max-width: 1200px) {
            height: 16rem;
        }

        @media (max-width: 992px) {
            height: 25rem;
        }

        @media (max-width: 768px) {
            height: 26rem;
        }

        @media (max-width: 576px) {
            height: auto;
        }
    }
}
