// Blue shades
$blue: rgb(50, 81, 135);
$blue-dark: rgb(29, 47, 79);
$blue-light: rgba(50, 81, 135, 0.25);
//Rest of the colors
$pink: rgba(230, 106, 130, 1);
$green: rgba(107, 178, 98, 1);
$white: rgba(252, 253, 255, 1);
$yellow: rgba(226, 178, 67, 1);
